<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>

    <a href="/criar">Criar um novo usuário</a>

    <% usuarios.forEach(usuario=> { %>
        <div style="border: solid red; margin: 20px; padding: 10px;">
            <h4><%= usuario.nome %></h4>
            <h4><%= usuario.email %></h4>
            <form method="POST" action="/?_method=DELETE">
                <button>Deletar</button>
                <input type="hidden" name="id" value="<%= usuario.id %>">
            </form>
            <br>
            <button><a href="/atualizar/<%= usuario.id %>">Atualizar</a></button>
        </div>
    <% }); %>

</body>

</html>