<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar novo Usuário</title>
</head>
<body>
    
    <h2>Criar novo Usuário</h2>
    <form action="">
        <input type="text" name="nome" placeholder="Digite o nome:">
        <input type="email" name="email" placeholder="Digite o email:">
        <button>Criar</button>
    </form>
</body>
</html>